
@(pegel: Double, tiefgang: Double, ansicht: String)(content: Html)
<!DOCTYPE html>
<html>
  <head>
    <title>KielAhoi</title>

    <link rel="stylesheet" href="@routes.Assets.at("lib/leaflet/leaflet.css")">
    <link rel="stylesheet" href="@routes.Assets.at("lib/bootstrap/css/bootstrap.css")">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bodenseetiefgang.css")">
    <script src="https://unpkg.com/leaflet@@1.2.0/dist/leaflet.js"></script>


  </head>
  <body>
    <div id=page>

      <!-- NAV-Bar -->
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="/map">Karte<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/list">Liste</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Favoriten</a>
            </li>
          </ul>
        </div>
      </nav>


      <!-- Titel-Leiste -->
      <div id="firstline">
        <div id=titelbox>
          <div id=titel>
            <h1>KielAhoi</h1>
          </div>
          <div id=subtitle>
            <p>Pegel Romanshorn: @pegel</p>
          </div>
        </div>

          <form action="@routes.PortController.readTiefgang()" method="post">

          <div class="form-group row col-lg-6">
                  <input type="hidden" name="ansicht" value="@ansicht">
                  <lable for="tiefgang" class="col-sm-2 col-form-label">Tiefgang</lable>
                  <div class="input-group">
                      <input type="text" class="form-control" id="tiefgang" name="tiefgang" value="@tiefgang" placeholder="default: 1.5">
                      <span class="input-group-btn">
                          <button class="btn btn-secondary" type="submit">Go!</button>
                      </span>
                  </div>
          </div>

          </form>
      </div>







      <!-- Inhalt -->
      <div id="content" class="container">
          @content
      </div>

    </div>




    <script src="@routes.Assets.at("lib/jquery/jquery.js")"></script>
    <script src="@routes.Assets.at("lib/bootstrap/js/bootstrap.js")"></script>
    <!-- Import leaflet.js funktioniert nicht -->
    <script src="@routes.Assets.at("lib/leaflet/leaflet.js")"></script>
    <script src="@routes.Assets.at("javascripts/bodenseeMap.js")"></script>
    <script src="@routes.Assets.at("javascripts/bodenseeListe.js")"></script>
    <script src="@routes.Assets.at("javascripts/bodenseeLayout.js")"></script>

  </body>
</html>
