
@(content: Html)
<!DOCTYPE html>
<html>
  <head>
    <title>BodenseeTiefgang</title>

    <link rel="stylesheet" href="@routes.Assets.at("lib/leaflet/leaflet.css")">
    <link rel="stylesheet" href="@routes.Assets.at("lib/bootstrap/css/bootstrap.css")">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bodenseetiefgang.css")">

  </head>
  <!--<body onload="loadSiteMap()">-->
  <body>
    <div id=page>

      <!-- NAV-Bar -->
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="#" onclick=loadSiteMap()>Karte<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" onclick=loadSiteList()>Liste</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Favoriten</a>
            </li>
          </ul>
        </div>
      </nav>


            <!-- Titel-Leiste -->
      <div id="firstline">
        <div id=titelbox>
          <div id=titel>
            <h1>Bodensee-Befahrbarkeit</h1>
          </div>
          <div id=subtitle>
            <h2>Pegel Konstanz:</h2>
          </div>
          <div id=pegelbeschreibung>
            <p>Hier wird der Konstanzer Pegel eingefügt mit Zusatzinformationen.</p>
          </div>
        </div>
        <form onsubmit="event.preventDefault(), tiefgangControll()">
          <lable for="tiefgangInput">Tiefgang:</lable>
          <input type="number" step="any" class="form-control" id="tiefgangInput" placeholder="2.5m">
          <button type="submit" class="btn btn-primary" id="tiefgangEingabe">Bestätigen</button>
        </form>


      </div>


      <!-- Inhalt -->
      <div id="content" class="container">
          <div id="mapid"></div>
          @content
      </div>

    </div>

    <script src="@routes.Assets.at("lib/jquery/jquery.js")"></script>
    <script src="@routes.Assets.at("lib/popper.js/dist/popper.js")"></script>
    <script src="@routes.Assets.at("lib/bootstrap/js/bootstrap.js")"></script>
    <script src="@routes.Assets.at("lib/leaflet/leaflet.js")"></script>
    <script src="@routes.Assets.at("javascripts/bodenseeMap.js")"></script>
    <script src="@routes.Assets.at("javascripts/bodenseeListe.js")"></script>
    <script src="@routes.Assets.at("javascripts/bodenseeLayout.js")"></script>

  </body>
</html>
