@(ports: List[Port], pegel: Double, tiefgang: Double, ansicht: String)
  @layout(pegel = pegel, tiefgang = tiefgang, ansicht = ansicht){

    <div>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">Land</th>
          <th scope="col">Ortschaft</th>
          <th scope="col">Bezeichnung</th>
          <th scope="col" class="text-right">unter Kiel</th>
      </thead>
      <tbody>
      @for(p <- ports) {
        <tr id=@p.getId()>
          <td>@p.getCountry()</td>
          <td>@p.getCity()</td>
          <td>@p.getDescription()</td>
          <td class="text-right">@(f"${pegel-p.getHeight()-tiefgang}%.1f") m</td>
        </tr>
      }
      </tbody>
    </table>

    </div>

  }


