@(ports: List[Port], pegel: Double, tiefgang: Double, ansicht: String)
    @layout(pegel  = pegel, tiefgang = tiefgang, ansicht = ansicht){
        <h3>Karte der Häfen</h3>
        <div id="mapbox" class="jumbotron">

        </div>

    <script>
            var geojsonFeature = [
                @for(p <- ports) {
                {
                    "type": "Feature",
                    "properties": {
                        "name": "@p.getDescription()",
                        "wasserUnterKiel": "@(f"${pegel-p.getHeight()-tiefgang}%.1f")"
                    },
                    "geometry": {
                        "type": "Point",
                        "coordinates": [@p.getLon(), @p.getLat()]
                    }
                },
                } // Ende for-Schleife
            ];

    </script>

    }

